@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.first-container {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}
.header {
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 100px;
}

.first-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 30px;
    text-decoration: none;
}

.content {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    height: 450px;
}

.content .left-content {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    width: 500px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
}

.content button {
    background-color: #3662f6;
    color: #f9faf8;
    border-style: none;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

.right-content {
    display: flex;
    margin-left: 300px;
}

.right-content .placeholder {
    color: white;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 525px;
    height: 250px;

}

.second-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.second-container .title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;

}

.info {
    max-width: 180px;
    margin-top: 40px;

}

#card {
    border: 5px solid #3882f6;
    height: 180px;
    width: 180px;
    border-radius: 10%;

}

.text {
    font-size: 18px;
}

.third-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 450px;

}

.third-container .container {
    display: flex;
    flex-direction: column;
}

p1 {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    max-width: 900px;
    margin-top: 80px;
}

p2 {
   font-size: 25px;
   font-weight: bold; 
   align-self: flex-end;
   margin-top: -120px;
}








